.pro-main-title{
    font-weight: 700;
}
.blog-second-title{
    font-size: 13px;
}
.menu-item-nav-dash {
    color: #fff;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 5px solid transparent;
    text-align: center; 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.06) inset;
}
.menu-item-nav-dash a {
    color: #fff !important;  
    transition: all 0.3s;
}
.menu-item-nav-dash h3 {  
    font-weight: 600;
    font-size: 33px;
    color:#fff;
    margin-top:0px;
    margin-bottom: 0px;
}
.menu-item-nav-dash i {
    font-size: 40px; 
    padding-bottom:20px;

}

.menu-item-nav-dash p { 
    font-weight: 500;
    font-size: 20px;
}

.menu-item-nav-dash{
    overflow:hidden;
    border: 5px solid rgba(255, 255, 255, 0.70);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.06) inset;
    transition: all 0.5s ease;

}


.menu-item-nav-dash hr { 
    max-width: 30px;
    border-color: #f05f40;
    border-width: 6px;
    margin-top: 9px;
    margin-bottom: 9px;
    border: 0;
    border-top: 2px solid #eee;
    text-align: center; 
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    /*transform: rotateY(180deg);*/
}

.flip-container {
    perspective: 1000px;
}
.flip-container, .front, .back {
    width:100%;
    height: 60px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    /*transform: rotateY(0deg);*/
}

.back {
    /*transform: rotateY(180deg);*/
}



.mountain-class
{
    color:#76838f;
}

.weather-main-content .weat-content small
{
    font-size:14px;
}
.dashboard-profile-div
{
    padding: 30px 30px;
}
.static-box { 
    margin-bottom: 30px;
    padding: 30px 30px;
}
.second-dashboard-header h4
{
    margin: 0px 0px;
    font-size: 21px;
}
.second-dashboard-header 
{
    margin-bottom: 20px;
}

.main-dashboard .chart-float
{
    box-shadow: none !important;
    border:none;
    padding:0px;
}
.post-dash-div
{
    padding: 20px 30px !important;
}
.task-main-div .list-group-item
{
    padding:0px;
}
/*.tasks-progress > ul { 
    margin: 0;  
}*/
.tasks-progress > ul > li {

    padding: 0 !important;
}
.tasks-progress > ul > li:nth-child(odd) {
    padding-right:10px !important; 
}
/*.tasks-progress > ul > li:nth-child(even) {
    padding-left:10px !important; 
}*/
.contact-list-div
{
    padding-bottom: 0px !important;
}

.main-dashboard .progress-dash-3 { 
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    clear: both;
    height: 4px;
    margin: 8px 15px 5px;
    position: absolute;
    width: calc(100% - 30px);
}
.main-dashboard .progress-dash-3 .progress-bar { 
    background:#FFF;
    width:0%;
}
.flip-container:hover .progress-dash-3 .mail-progress { width:53%;}
.flip-container:hover .progress-dash-3 .art-progress { width:65%;}
.flip-container:hover .progress-dash-3 .sale-progress { width:58%;}
.flip-container:hover .progress-dash-3 .profile-progress { width:41%;}
.flip-container:hover .progress-dash-3 .message-progress { width:55%;}
.flip-container:hover .progress-dash-3 .photo-progress { width:45%;}

.hover-icon-dash3 {
    position:absolute;
    top:-100px;
    left:15px;
    transition: all 0.5s ease;
}
.flip-container:hover .hover-icon-dash3 {
    left: 15px;
    opacity: 0.3;
    top: -15px;
}
.heading-top-index-2 {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    color: #505050;
    padding: 15px 30px;
    position: relative;
}
.top-dash-3 h3 { margin:0px;}

/*----*/
.overlap-background{
    padding: 5px 0;
}
.page-content .widgets-top-padding{
    padding-top: 32px;
    padding-bottom: 32px;
}

@media ( max-width: 1599px ) {
    .page-content .widgets-top-padding{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .padding-viewers {
        padding: 46px 20px !important;
    }
    .widget .text-left h2 {
        font-size: 24px;
    }
}
@media ( max-width: 992px ) {
    .large-table-clear{
        clear: both;
    }
}
@media (max-width: 767px) {
    .calender-text p{
        display: none;
    }
    .fc-header-title h2{
        margin-left: 0px !important;
    }
    .calenderMain #calendar .fc-header-right.col-md-4.col-sm-4 {
        right: 30px !important;
        top: 70px !important;
    }
}
@media (max-width: 479px) {
    .calenderMain #calendar .fc-header-right.col-md-4.col-sm-4 {
        right: 15px !important;
        top: 45px !important;
    }
    .font-21{
        font-size: 18px;
    }
    .weather-deg {
        font-size: 11px;
    }
    .weather-font {
        font-size: 25px;
    }
}