
.asPaginator {
  overflow: hidden;
}
.asPaginator li {
  float: left;
  margin: 0 5px;
  list-style: none;
}
.asPaginator li a {
  display: inline-block;
  padding: 5px 9px;
  text-decoration: none;
  text-transform: capitalize;
}
.asPaginator.asPaginator_skin-1 li {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
}
.asPaginator.asPaginator_skin-1 li a {
  padding: 5px 9px;
  color: #666666;
}
.asPaginator.asPaginator_skin-1 li:hover {
  background-color: #725e73;
  border-radius: 5px 5px 5px 5px;
}
.asPaginator.asPaginator_skin-1 li:hover a {
  color: #ffffff;
}
.asPaginator.asPaginator_skin-1 .asPaginator_active {
  background-color: #725e73;
  border-radius: 5px 5px 5px 5px;
}
.asPaginator.asPaginator_skin-1 .asPaginator_active a {
  color: #ffffff;
  cursor: default;
}
.asPaginator.asPaginator_skin-1 .asPaginator_active:hover a {
  color: #ffffff;
}
.asPaginator.asPaginator_skin-1 .asPaginator_disable a {
  color: #999999;
  cursor: default;
}
.asPaginator.asPaginator_skin-1 .asPaginator_disable:hover {
  background-color: transparent;
}
.asPaginator.asPaginator_skin-1 .asPaginator_disable:hover a {
  color: #999999;
}
.asPaginator.asPaginator_skin-1 .asPaginator_omit {
  cursor: default;
}
.asPaginator.asPaginator_skin-1 .asPaginator_omit:hover {
  background-color: transparent;
}
.asPaginator.asPaginator_skin-2 li {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  background-color: #ffffff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f2 100%);
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #c8c8c8;
  -webkit-box-shadow: inset 1px 1px 0 0 #ffffff;
  box-shadow: inset 1px 1px 0 0 #ffffff;
}
.asPaginator.asPaginator_skin-2 li a {
  padding: 5px 10px 6px;
  color: #666666;
}
.asPaginator.asPaginator_skin-2 li:hover a {
  color: #5984c0;
}
.asPaginator.asPaginator_skin-2 li:first-child {
  border-left: 1px solid #d8d8d8;
  border-radius: 25px 0 0 25px;
}
.asPaginator.asPaginator_skin-2 li:last-child {
  border-right: 1px solid #dddddd;
  border-radius: 0 25px 25px 0;
}
.asPaginator.asPaginator_skin-2 .asPaginator-prev,
.asPaginator.asPaginator_skin-2 .asPaginator-next {
  -webkit-box-shadow: inset 1px 1px 0 0 #ffffff;
  box-shadow: inset 1px 1px 0 0 #ffffff;
}
.asPaginator.asPaginator_skin-2 .asPaginator-prev a {
  color: #8d8d8d;
}
.asPaginator.asPaginator_skin-2 .asPaginator-next a {
  color: #8d8d8d;
}
.asPaginator.asPaginator_skin-2 .asPaginator_active {
  background-color: #5984c0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
  -webkit-box-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.3);
}
.asPaginator.asPaginator_skin-2 .asPaginator_active a {
  color: #ffffff;
  cursor: default;
}
.asPaginator.asPaginator_skin-2 .asPaginator_active:hover a {
  color: #ffffff;
}
.asPaginator.asPaginator_skin-2 .asPaginator_disable a {
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.asPaginator.asPaginator_skin-2 .asPaginator_disable:hover a {
  color: rgba(0, 0, 0, 0.2);
}
.asPaginator.asPaginator_skin-2 .asPaginator_omit a {
  cursor: default;
}
.asPaginator.asPaginator_skin-2 .asPaginator_omit:hover a {
  color: #666666;
}
.asPaginator.asPaginator_skin-3 li {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.asPaginator.asPaginator_skin-3 li a {
  padding: 6px 10px;
  color: #666666;
}
.asPaginator.asPaginator_skin-3 li:hover a {
  color: #c79a9e;
}
.asPaginator.asPaginator_skin-3 .asPaginator-first,
.asPaginator.asPaginator_skin-3 .asPaginator-prev {
  border-left: 1px solid #e6e6e6;
}
.asPaginator.asPaginator_skin-3 .asPaginator-last,
.asPaginator.asPaginator_skin-3 .asPaginator-next {
  border-right: 1px solid #e6e6e6;
}
.asPaginator.asPaginator_skin-3 .asPaginator_active {
  margin: 0;
  font-size: 14px;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -2px 0 0 #bd878c;
  box-shadow: inset 0 -2px 0 0 #bd878c;
}
.asPaginator.asPaginator_skin-3 .asPaginator_active a {
  padding: 6px 10px;
  color: #bd878c;
  cursor: default;
}
.asPaginator.asPaginator_skin-3 .asPaginator_active:hover a {
  color: #bd878c;
}
.asPaginator.asPaginator_skin-3 .asPaginator_disable a {
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.asPaginator.asPaginator_skin-3 .asPaginator_disable:hover a {
  color: rgba(0, 0, 0, 0.2);
}
.asPaginator.asPaginator_skin-3 .asPaginator_omit a {
  cursor: default;
}
.asPaginator.asPaginator_skin-3 .asPaginator_omit:hover a {
  color: #666666;
}
.asPaginator.asPaginator_skin-4 li {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  background-color: #ffffff;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
.asPaginator.asPaginator_skin-4 li a {
  padding: 6px 10px;
  color: #666666;
}
.asPaginator.asPaginator_skin-4 li:hover a {
  color: #ff755a;
}
.asPaginator.asPaginator_skin-4 li:first-child {
  border-left: 1px solid #c9c9c9;
}
.asPaginator.asPaginator_skin-4 .asPaginator_active {
  margin: 0 0 0 -1px;
  font-size: 14px;
  background-color: #ff755a;
  border: 1px solid #ff755a;
}
.asPaginator.asPaginator_skin-4 .asPaginator_active a {
  padding: 6px 10px;
  color: #ffffff;
  cursor: default;
}
.asPaginator.asPaginator_skin-4 .asPaginator_active:hover a {
  color: #ffffff;
}
.asPaginator.asPaginator_skin-4 .asPaginator_disable a {
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.asPaginator.asPaginator_skin-4 .asPaginator_disable:hover a {
  color: rgba(0, 0, 0, 0.2);
}
.asPaginator.asPaginator_skin-4 .asPaginator_omit a {
  cursor: default;
}
.asPaginator.asPaginator_skin-4 .asPaginator_omit:hover a {
  color: #666666;
}
.asPaginator.asPaginator_skin-5 li {
  margin: 0 5px;
  font-family: Arial;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #989898;
  border-radius: 5px 5px 5px 5px;
}
.asPaginator.asPaginator_skin-5 li a {
  padding: 5px 10px;
  color: #666666;
}
.asPaginator.asPaginator_skin-5 li:hover {
  background-color: #eeeeee;
}
.asPaginator.asPaginator_skin-5 li:hover a {
  color: #555555;
}
.asPaginator.asPaginator_skin-6 li {
  margin: 0 5px;
  font-family: Arial;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #979797;
}
.asPaginator.asPaginator_skin-6 li a {
  padding: 5px 10px;
  color: #666666;
}
.asPaginator.asPaginator_skin-6 li:hover {
  background-color: #a0d264;
  border-color: #a0d264;
}
.asPaginator.asPaginator_skin-6 li:hover a {
  color: #ffffff;
}